// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
  
    100: hsl(253, 94%, 87%),
    200: hsl(253, 93%, 78%),
    300: hsl(253, 94%, 69%),
    400: hsl(253, 93%, 55%),
    500: hsl(253, 94%, 27%),
  ),
  secondary: (
    100: hsl(192, 100%, 80%),
    200: hsl(192, 99%, 70%),
    300: hsl(192, 99%, 50%),
    400: rgb(1, 187, 233),
    500: hsl(192, 99%, 40%),
  ),
  neutral: (
    100: hsl(37, 67%, 99%),
    200: hsl(37, 51%, 94%),
    300: hsl(38, 42%, 88%),
    400: hsl(37, 31%, 84%),
    500: hsl(37, 17%, 76%),
    600: hsl(37, 4%, 55%),
    700: hsl(37, 0%, 31%),
    800: hsl(37, 0%, 22%),
    900: hsl(37, 0%, 13%),
  ),
  neutral_transparent: (
    100: hsla(37, 0%, 100%, 0.700),
    200: hsla(37, 23%, 97%, 0.700),
    300: hsla(37, 12%, 95%, 0.700),
    400: hsla(37, 12%, 88%, 0.700),
    500: hsla(37, 13%, 83%, 0.700),
    600: hsla(37, 6%, 55%, 0.700),
    700: hsla(37, 8%, 31%, 0.700),
    800: hsla(37, 9%, 22%, 0.700),
    900: hsla(37, 10%, 14%, 0.700),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
  dark_transparent: (
    100: hsla(240, 4%, 9%, 0.700),
  ),
);
