---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import CallToAction from '../components/Contact.astro'
---

<DefaultLayout title="Contact">
  <section class="my-18">
    <div class="container">
      <CallToAction/>
    </div>
  </section>
  </DefaultLayout>