---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Hero from "../components/Hero.astro";
import PlanarBackground from "../components/PlanarBackground.astro";
---

<DefaultLayout title="Home">
  <PlanarBackground />
  <Hero />
  <!-- {
    last_posts.map((post) => (
      <>
        <HorizontalCard>
          <h3>{post.data.title}</h3>
          <p class="text-lg">
            {post.data}
          </p>
        </HorizontalCard>
      </>
    ))
  } -->
</DefaultLayout>

<style lang="scss" is:global>
  .footer-text {
    color: var(--neutral-300)
  }
  .footer-link {
    color: hsl(192, 100%, 80%);
    text-decoration: underline;
    &:visited {
      color:hsl(192, 100%, 80%);
      text-decoration: none;
    }
    &:hover,
    &:focus {
      color: hsl(192, 100%, 80%),;
      text-decoration: none;
    }
  }
</style>
