---
import DefaultLayout from "../layouts/DefaultLayout.astro";

import ContentMedia from "../components/ContentMedia.astro";
---

<DefaultLayout title="Research">
  <section class="my-12">
    <div class="container">
      <h1>Research</h1>
      <ContentMedia
        imgSrc="/research/midair_1.webp"
        title="Mid-Air Locomotion & Spatial Cognition"
        tags="SPATIAL COGNITION  //  LOCOMOTION"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </ContentMedia>
      <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700" />
      <ContentMedia
        imgSrc="/research/vr_cognition.webp"
        title="3D User Interfaces for Mixed Reality Path Planning"
        tags="SPATIAL COGNITION  //  3D  INTERACTION"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </ContentMedia>
      <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700" />
      <ContentMedia
        imgSrc="/research/arcade_1.webp"
        title="VR Arcade Game Interactions"
        tags="PERSONAL PROJECTS  //  3D  INTERACTION"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </ContentMedia>
      <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700" />
      <ContentMedia
        imgSrc="/research/remind_1.webp"
        title="ReMind: Wearable for Emotional Awareness"
        tags="EMBODIED INTERACTION  //  COMMUNITY-DRIVEN DESIGN"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </ContentMedia>
      <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700" />
      <ContentMedia
        imgSrc="/research/rdw_1.webp"
        title="Individualized Rotation Gains for Redirected Walking"
        tags="LOCOMOTION   //  PSYCHOPHYSICAL THRESHOLDS"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </ContentMedia>
    </div>
  </section>
</DefaultLayout>
