---
import { Media } from 'accessible-astro-components'

const { imgSrc, reverseImg = false } = Astro.props
---

<section class="my-64">
  <div class="content_media">
    <div class="container">
      <div class="grid grid-cols-1 gap-24 md:grid-cols-2">
        {!reverseImg ? <Media class="rounded-lg" src={imgSrc} /> : ''}
        <div class="space-content flex flex-col justify-center">
          <slot />
        </div>
        {reverseImg ? <Media class="rounded-lg" src={imgSrc} /> : ''}
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;

  .container {
    position: relative;
    padding: 2rem;

    > * {
      position: relative;
      z-index: 2;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      inset: 0;
      background-color: var(--neutral_transparent-100);
      border-radius: 1rem;
      z-index: 1;
    }
  }

  :global(.darkmode .container::before) {
    background-color: var(--dark_transparent-100);
  }
</style>
