---
import { Icon } from "astro-icon/components";

const {} = Astro.props;
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-3xl md:text-left lg:text-6xl">
          <slot>
            Courtney Hutton Pospick
            <br />
            <span class="text-gradient text-3xl lg:text-4xl">Spatial Computing Researcher</span>
            <br />
            <h4 class="text-center text-l md:text-left lg:text-xl">
              PhD, Computer Science<br />
              <i>Spatial Computing, Perception, & Human-Computer Interaction</ii>
            </h4>
          </slot>
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="/research/">
            <Icon name="teenyicons:vr-headset-outline" />
            Research
          </a>
          <a
            class="button has-icon color-secondary"
            href="https://scholar.google.com/citations?user=2e9U3u8AAAAJ&hl=en&authuser=1"
            title="View Google Scholar page"
          >
            <Icon name="ion:bookmark-outline" />
            Publications
          </a>
        </div>
      </div>
      <div class="hidden lg:block" id="heroModel"></div>
      <!-- <script type="module" src="../src/scripts/heroModel.js"></script> -->
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(
      315deg,
      var(--primary-200) 25%,
      var(--secondary-500)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(
      315deg,
      var(--primary-200) 25%,
      var(--secondary-400)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
