---
---

<div id="bg"></div>
<script src="/src/scripts/planarBackground.js" ></script>
<style>
    #bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -99;
    min-width: 100vw;
    min-height: 100vh;
    pointer-events: none;
}
</style>